.dropzoneContent
{
  float: none;
  margin: 0 auto;
}

.bfh-countries
{
  display: none !important;
  background-color: red;
}

.bfh-states
{
  width: 33% !important;
}

.cityInput
{
  width: 33% !important;
}

.zipInput
{
  width: 32% !important;
}

.address2
{
  float: right !important;
}

.srcEmail
{
  float: right !important;
}

#content
{
  float: none;
  margin: 0 auto;
}

#title
{
  padding-bottom: 0px;
  line-height: 12px;
}

#subtitle
{
  style padding-top: 5px;
}

#MailMyPDFButton
{
  padding: 10px 28px;
  display: none;
}

#MailMyPDFButtonClickable
{
  padding: 10px 28px;
}

#email
{
  font-size: 11px;
  text-align: center;
}