<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
    
    <head>
        
        <!-- javascript -->
        
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        
        <script src="https://checkout.stripe.com/checkout.js"></script>
        <script src="https://js.stripe.com/v2/"></script>
        
        <script src="static/js/bootstrap-modal.js"></script>
        <script src="static/js/bootstrap-formhelpers-selectbox.js"></script>
        <script src="static/js/bootstrap-formhelpers-states.en_US.js"></script>
        <script src="static/js/bootstrap-formhelpers-states.js"></script>
        <script src="static/js/bootstrap-formhelpers-countries.en_US.js"></script>
        <script src="static/js/bootstrap-formhelpers-countries.js"></script>
        
        <script src="static/js/dropzone.js"></script>
        <script src="static/js/mailmypdf.js"></script>
        
        <!-- css -->
        
        <link href="static/css/bootstrap-combined.min.css" rel="stylesheet">
        <link href="static/css/bootstrap-formhelpers.css"  rel="stylesheet">
        
        <link rel="shortcut icon" href="static/myicon.ico" />
        
        <title>MailMyPDF</title>
        
    </head>

    <body>
        <div id="content" class="container-fluid span8 text-center" style="float: none; margin: 0 auto;">
            
            <br/>
            
            <div class="alert" style="display: none">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <span id="alert-message"></span>
            </div>
            
            <br/>
            
            <p>
                <h2 style="padding-bottom: 0px; line-height: 12px">MailMyPDF</h2>
                <small style="padding-top: 5px">Physically mail any PDF file.</small>
            </p>
            
            <form id="dropzone" class="form well" action="{{ uploadURL }}" method="POST" enctype="multipart/form-data">
                <div id="dropzoneContent" class="row span7" style="float: none; margin: 0 auto;">
                    <div class="row-fluid">
                        <div><h4>To:</h4></div>
                        <div class="row-fluid">
                            <div class="control-group span12">
                                <input name="destName" type="text" class="input-block-level" placeholder="Name">
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="control-group span12">
                                <input name="destAddress1" type="text" class="input-block-level span6" placeholder="Address1">
                                <input name="destAddress2" type="text" class="input-block-level span6"  placeholder="Address2" style="float: right">
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="control-group span12">
                                <input  name="destCity" type="text" class="input-block-level span4"  placeholder="City" style="width: 32%;">
                                <select name="destState" class="input-medium bfh-states span4" data-country="US" data-state="CA" style="width: 33%;"></select>
                                <input  name="destZip" type="text" class="input-medium span4" placeholder="Zip" style="width: 33%;">
                                <select name="destCountry" class="input-medium bfh-countries span3" data-country="US" style="float: right; display: none;"></select>
                            </div>
                        </div>
                    </div>
                    
                    <br/>
                    
                    <div class="row-fluid">
                        <div><h4>From:</h4></div>
                        <div class="row-fluid">
                            <div class="control-group span12">
                                <input name="srcName"  type="text" class="input-block-level span6" placeholder="Name">
                                <input name="srcEmail" type="text" class="input-block-level span6" placeholder="email@example.com" style="float: right">
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="control-group span12">
                                <input name="srcAddress1" type="text" class="input-block-level span6" placeholder="Address1">
                                <input name="srcAddress2" type="text" class="input-block-level span6" placeholder="Address2" style="float: right">
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="control-group span12">
                                    <input  name="srcCity" type="text" class="input-block-level span4" placeholder="City" style="width: 32%;">
                                    <select name="srcState" class="input-medium bfh-states span4" data-country="US" data-state="CA" style="width: 33%;"></select>
                                    <input  name="srcZip" type="text" class="input-medium span4" placeholder="Zip" style="width: 33%;">
                                    <select name="srcCountry" class="input-medium bfh-countries span3" data-country="US" style="float: right; display: none;"></select>
                            </div>
                        </div>
                    </div>
                    
                    <br/>
                    
                    <button id="MailMyPDFButton" type="button" class="btn btn-primary btn-lg" style="padding: 10px 28px; display: none">Mail My PDF</button>
                    <button id="MailMyPDFButtonClickable" type="button" class="btn btn-primary btn-lg" style="padding: 10px 28px">Mail My PDF</button>
                    
                    <br/>
                    <br/>
                    
                </div>
                
            </form>
            
        </div>
        
        <span id="objectid"></span>
        <span id="downloadURL"></span>
        
        <div style="font-size:11px; text-align: center"><a href="mailto:aaron@scourcritical.com">feedback</a></div>
        
        <script>
            dropzoneOptions.url = "{{ uploadURL }}";
            dropzoneOptions.clickable = "#MailMyPDFButtonClickable";
            globalDropzone = new Dropzone(document.body, dropzoneOptions);
        </script>
        
    </body>
    
</html>
{% endautoescape %}