<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- javascript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    
    <script src="static/js/bootstrap-modal.js"></script>
    
    <script src="static/js/bootstrap-formhelpers-selectbox.js"></script>
    <script src="static/js/bootstrap-formhelpers-states.en_US.js"></script>
    <script src="static/js/bootstrap-formhelpers-states.js"></script>
    <script src="static/js/bootstrap-formhelpers-countries.en_US.js"></script>
    <script src="static/js/bootstrap-formhelpers-countries.js"></script>
    
    <script src="static/js/dropzone.js"></script>
    
    <!-- css -->
    <link href="static/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="static/css/bootstrap-formhelpers.css" rel="stylesheet">
    <link href="static/css/docs.css" rel="stylesheet">
    
    <title>MailMyPDF</title>
    
    <script>
    
        //Stripe.setPublishableKey('pk_test_qjYhk6ALhfcFYHVZBu6GIoCY');
    
        Dropzone.options.myAwesomeDropzone = { // The camelized version of the ID of the form element

          // The configuration we've talked about above
          autoProcessQueue: false,
          uploadMultiple: false,
          parallelUploads: 1,
          maxFiles: 1,
          paramName: "file",

          // The setting up of the dropzone
          init: function() {
            var myDropzone = this;

            // First change the button to actually tell Dropzone to process the queue.
            this.element.querySelector("button[name=mailMyPDFButton]").addEventListener("click", function(e) {
              alert("button click event listener");
              e.preventDefault(); // Make sure that the form isn't actually being sent.
              //e.stopPropogation();
              //Stripe.createToken($form, stripeResponseHandler);
              myDropzone.processQueue();
              //document.getElementById("myAwesomeDropzone").submit();
              // but then we also want to submit the original form
            });

            // Listen to the sendingmultiple event. In this case, it's the sendingmultiple event instead
            // of the sending event because uploadMultiple is set to true.
            this.on("sendingmultiple", function() {
              // Gets triggered when the form is actually being sent.
              // Hide the success button or the complete form.
              alert("sendingmultiple");
            });
            this.on("successmultiple", function(files, response) {
              // Gets triggered when the files have successfully been sent.
              // Redirect user or notify of success.
              alert("successmultiple");
            });
            this.on("errormultiple", function(files, response) {
              // Gets triggered when there was an error sending the files.
              // Maybe show form again, and notify user of error
              alert("errormultiple");
            });
          }
         
        }
    /*
        jQuery(function($) {
          $('#payment-form').submit(function(event) {
            var $form = $(this);
        
            // Disable the submit button to prevent repeated clicks
            $form.find('button').prop('disabled', true);
        
            Stripe.createToken($form, stripeResponseHandler);
        
            // Prevent the form from submitting with the default action
            return false;
          });
        });
        
        function stripeResponseHandler(args) {
            //actually submit the form
            alert('asdf');
            myDropzone.processQueue();
        }
        
        var stripeResponseHandler = function(status, response) {
            var $form = $('#payment-form');
          
            if (response.error) {
              // Show the errors on the form
              $form.find('.payment-errors').text(response.error.message);
              $form.find('button').prop('disabled', false);
            } else {
              // token contains id, last4, and card type
              var token = response.id;
              // Insert the token into the form so it gets submitted to the server
              $form.append($('<input type="hidden" name="stripeToken" />').val(token));
              // and submit
              $form.get(0).submit();
            }
          };*/
    </script>
    
</head>
<body>
    <div id="content" class="container-fluid span8 text-center" style="float: none; margin: 0 auto;">
        <h2>MailMyPDF</h2>
        <form id="myAwesomeDropzone" class="form well dropzone" action="{{ uploadURL }}" method="POST" enctype="multipart/form-data">
        <div class="row span7" style="float: none; margin: 0 auto;">
            <div class="row-fluid">
                <div><h4>To:</h4></div>
                <div class="row-fluid">
                    <div class="control-group span12">
                        <input name="srcName" type="text" class="input-block-level" placeholder="Name">
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="control-group span12">
                        <input name="srcAddress1" type="text" class="input-block-level" placeholder="Address1">
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="control-group span12">
                        <input name="srcAddress2" type="text" class="input-block-level span6"  placeholder="Address2">
                        <input name="srcCity" type="text" class="input-block-level span6"  placeholder="City" style="float: right">
                    </div>
                </div>
                <div class="row-fluid">
                  <form class="form-inline span12">
                    <select name="srcState" class="input-medium bfh-states span4" data-country="US" data-state="CA"></select>
                    <select name="srcCountry" class="input-medium bfh-countries span4" data-country="US"></select>
                    <input name="srcZip" type="text" class="input-block-level span4" placeholder="Zip" style="float: right">
                  <form>
                </div>
            </div>
            <div class="row-fluid">
                <div><h4>From:</h4></div>
                <div class="row-fluid">
                    <div class="control-group span12">
                        <input name="destName" type="text" class="input-block-level" placeholder="Name">
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="control-group span12">
                        <input name="destAddress1" type="text" class="input-block-level" placeholder="Address1">
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="control-group span12">
                        <input name="destAddress2" type="text" class="input-block-level span6" placeholder="Address2">
                        <input name="destCity" type="text" class="input-block-level span6" placeholder="City" style="float: right">
                    </div>
                </div>
                <div class="row-fluid">
                  <form class="form-inline span12">
                    <select name="destState" class="input-medium bfh-states span4" data-country="US" data-state="CA" style="float: none"></select>
                    <select name="destCountry" class="input-medium bfh-countries span4" data-country="US" ></select>
                    <input name="destZip" type="text" class="input-block-level span4" placeholder="Zip" style="float: right">
                  <form>
                </div>
            </div>
            
            <br/>
            
            <button name="mailMyPDFButton" type="button" class="btn btn-primary btn-large">MailMyPDF Button</button>
            <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-large">Mail My PDF</a>
            
            <!-- Modal -->
            <!-- this modal will handle stripe processing, final form submission, and a completion/success notification -->
            <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Stripe Payment</h3>
              </div>
              <div class="modal-body">
                <p>The cost to mail your PDF is: $0.00</p>
              </div>
                <form action="" method="POST" id="payment-form">
                  <span class="payment-errors"></span>
                  
                  <div class="form-row span5">
                    <label>
                      <span>Card Number</span>
                      <input type="text" size="20" data-stripe="number"/>
                    </label>
                  </div>

                  <div class="form-row span5">
                    <label>
                      <span>CVC</span>
                      <input type="text" size="4" data-stripe="cvc"/>
                    </label>
                  </div>

                  <div class="form-row span5">
                    <label>
                      <span>Expiration (MM/YYYY)</span>
                      <input type="text" class="span1" size="2" data-stripe="exp-month"/>
                      <span> / </span>
                      <input type="text" class="span1" size="2" data-stripe="exp-year"/>
                    </label>
                  </div>

                    <span class="span5">
                        <p>&nbsp;</p>
                        <button type="submit" name="finishStripe" class="btn btn-primary">Submit Payment</button>
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                        <p>&nbsp;</p>
                    </span> 
                </form>
                
            </div>
        <div>
        </form>
    </div>

</body>
</html>
{% endautoescape %}